@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
main {
  padding-top: 3em;
}

main #picture {
  width: 60%;
  max-width: 14em;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.4);
}

main .buttons {
  background-color: white;
  width: 3em;
  padding: 0.1em;
  border-radius: 40px;
  margin: auto;
  position: relative;
  bottom: 1em;
}

main .buttons .btn {
  background-color: #ffffff;
  border: none;
  margin: auto;
  cursor: pointer;
}

main .buttons .js-next {
  margin-left: 2.5em;
}

main .text {
  padding: 2em 1.5em;
}

main p {
  font-size: 0.7em;
  padding: 0em 1em;
  line-height: 1.3;
  font-weight: 300;
}

main .name {
  padding: 0px;
  color: #202046;
  font-weight: 700;
}

main .profession {
  color: #babacf;
  font-weight: 700;
}

.animation-side {
  -webkit-animation-name: slide-in-side;
          animation-name: slide-in-side;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.animation-top {
  -webkit-animation-name: slide-in-top;
          animation-name: slide-in-top;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media only screen and (min-width: 800px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0em 2em;
    width: 100%;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
  }
  main .text {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  main .buttons {
    position: relative;
    bottom: 1em;
    right: 30%;
  }
  main .slider {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  main #picture {
    width: 40vw;
    max-width: 600px;
  }
  main .inline {
    display: inline-block;
  }
  main .text {
    text-align: left;
    padding: 2em 0em;
  }
  main p {
    font-size: 0.7em;
    padding: 0em;
    line-height: 1.3;
    font-weight: 300;
  }
  main .profession,
  main .name {
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 1000px) {
  main p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1400px) {
  main .text {
    padding: 2em 0em;
    position: relative;
    left: 2em;
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@keyframes slide-out {
  0% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@-webkit-keyframes slide-out-reverse {
  0% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes slide-out-reverse {
  0% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@-webkit-keyframes slide-in-reverse {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes slide-in-reverse {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

.slide-out {
  -webkit-animation-name: slide-out;
          animation-name: slide-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.slide-in {
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.slide-out-reverse {
  -webkit-animation-name: slide-out-reverse;
          animation-name: slide-out-reverse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.slide-in-reverse {
  -webkit-animation-name: slide-in-reverse;
          animation-name: slide-in-reverse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-size: 32px;
  text-align: center;
  font-family: "Inter", sans-serif;
  background-image: url(/images/pattern-bg.svg), url(/images/pattern-quotes.svg), url(/images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: 80vmin, 15vmin, 50vw;
  background-position: center 2em, center 50%, left bottom;
  overflow: hidden;
  height: 100%;
}

@media only screen and (min-width: 400px) {
  body {
    background-position: center 2em, center 50%, left bottom;
    background-size: 80vmin, 20vmin, 50vw;
  }
}

@media only screen and (min-width: 800px) {
  body {
    background-position: 40vw center, 20vw 25vh, left bottom;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    font-size: 32px;
  }
}
/*# sourceMappingURL=style.css.map */